.category-card button {
  background-color: #607eaa;
  color: white;
  padding: 10px;
  border-radius: 4px;
}
.category-card button:hover {
  background-color: #1c3879;
}
.category-card button:active {
  background-color: #1541a7;
}
